.content, .infield{
	background: #292D3E;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 1rem;
}
.host, .infield, .txt,.host-top{
	color: #bf80ff;
}
.host{
	color: #33ff33;
}
.host-top{
	margin-bottom: 2%;
}
.txt{
	line-height: 1.2;
}
.infield{
	border: none;
	background: transparent;
	outline: none;
	padding:0.7%;
}